.register-page {
  display: grid;
  grid-gap: 2em;
}

@media (min-width: 769px) {
  .register-page {
    grid-template-columns: 1fr 1fr;
  }
}

.register-page__info {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  padding-right: 2rem;

  .register-page__description {
    text-align: right;
    font-weight: 500;
  }
}

.register-page__form {
  padding: 2rem;

  button {
    padding: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
}
