header {
  position: relative;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
}

.header__container {
  display: flex;
  justify-content: space-between;
  fill: maroon;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin-left: 20px;
}

button {
  border: 0px;
}

svg {
  height: 40;
  width: 40;
}
