header {
  position: relative;
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);

  button {
    border: 0;
  }

  .login-link {
    margin-right: 15px;
  }

  .header__left {
    display: flex;
    align-items: flex-end;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: #555;

    &:hover {
      text-decoration: underline;
    }
  }

  nav {
    display: none;
    @media (min-width: 769px) {
      display: block;
    }    
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  fill: maroon;
}

.header__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__auth {
  display: none;
  @media (min-width: 769px) {
    display: block;
  }
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin-left: 20px;
}

button {
  border: 0px;
}

svg {
  height: 40;
  width: 40;
}
